<main class="container my-4 p-4 bg-light shadow">
    <h2 class="mb-4 pb-2 border-bottom border-primary text-primary fw-bold">
        About
    </h2>

    <p>Aurora Alerts notify when conditions are favorable for auroras to be visible further from the poles than usual,
        but actual visibility depends on location, time, and sky conditions.</p>

    <p>The majority of the text found on this site is directly copied from the references below.</p>

    <aside>
        <h3 class="mb-4 mt-4 pb-2 border-bottom border-primary text-primary fw-bold">
            References
        </h3>
        <p>
            <a href="https://www.sws.bom.gov.au/Geophysical/7/1">https://www.sws.bom.gov.au/Geophysical/7/1</a>
        </p>
        <p>
            <a href="https://sws-data.sws.bom.gov.au/api-docs">https://sws-data.sws.bom.gov.au/api-docs</a>
        </p>
    </aside>
</main>
